body {
  margin: 0;
  min-height: 100vh;
}
* {
  font-family: 'Montserrat';
}
.box {
  width: 100%;
  width: 100%;
  padding: 0 !important;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 6px;
  transition: all 0.4s ease 0s;
  .ant-card-body {
    padding: 10px;
  }
}

.box-bordered {
  width: 100%;
  width: 100%;
  padding: 0 !important;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 6px;
  transition: all 0.4s ease 0s;
  border: 1px solid #cecece;
}
.user-dropdown {
  width: 200px;
  .ant-row {
    align-items: center;
    svg {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
.box-shadow {
  box-shadow: '5px 8px 24px 5px rgba(208, 216, 243, 0.6)';
}
.box-title {
  padding: 8px;
}
.box-content {
  padding: 12px;
}

.ant-select-selection-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  font-style: italic;
  font-weight: 400 !important;
}

.ant-input::placeholder,
.ant-picker-input > input::placeholder {
  font-style: italic;
}

.ant-timeline-item-tail {
  background-color: rgb(22, 119, 255);
}
.ant-popover-inner {
  padding: 0 !important;
}
.ant-popover-title {
  margin: 0 !important;
}
.ant-upload-list-item-thumbnail img {
  object-fit: cover !important;
}
.ant-upload-list-item-container {
  margin: 0 !important;
}
.ant-upload-select {
  margin: 0 !important;
}

.custom-text {
  font-size: 13px !important;
}

.ant-timeline-item-head-custom {
  margin-top: 10px !important;
}

.ant-tabs-nav-wrap {
  justify-content: flex-end;
}
